.ExpirationDate {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  font-family: Cairo, sans-serif;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    color: #001D4A;
    line-height: 20px;
  }

  a {
    font-size: 14px;
    color: #3A9EFE;
    text-decoration: underline;
  }
}